<div class="main-chat">
  <div class="main-chat__top">
    <div class="main-chat__name">
      
    </div><!-- /.main-chat__name -->
    <%= link_to 'ALL CLEAR', destroy_all_tasks_path(@task_all), data: { turbo_method: :delete }, class: 'main-chat__btn' %>
  </div><!-- /.main-chat__top -->
  <div class="main-chat__middle">
    
    <ul data-controller="sortable">
      <%= render partial: 'task', collection: @tasks %>
    </ul>
    
  </div><!-- /.main-chat__middle -->
  
    <%= form_with model: @task, class: 'main-chat__bottom', local: true do |f| %>
      <div class="main-chat__input-area">
        <%= f.text_field :content, class: 'main-chat__input', placeholder: 'type a task' %>
      </div>
      <%= f.submit '送信', class: 'main-chat__submit'%>
    <% end %>
</div><!-- /.main-chat -->