<div class="main-chat">
  <div class="main-chat__top">
    <button class="header__hamburger hamburger">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="main-chat__name">
    </div>
    <!-- /.main-chat__name -->
    <div class="main-chat__btn" id="buttonClear" style="cursor: pointer">ALL DELETE</div>
  </div>
  <!-- /.main-chat__top -->
  <div class="main-chat__middle">
    <ul id="main-chat__task" data-controller="sortable">
      <%= render partial: 'task', collection: @tasks %>
    </ul>
    <ul id="main-chat__archive" data-controller="sortable" style="display:none">
      <%= render partial: 'archive', collection: @archives %>
    </ul>
    <%# 削除アラートModal %>
    <div id="modalAlert" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>Are you sure you want to delete all <span id="modalMessage">task</span>? 🎉</h2>
        </div>
        <div class="modal-body">
          <div id="modalDeleteTask" class='main-chat__delete lh50' style="padding: 0;"><%= link_to 'Delete', destroy_task_item_tasks_path, data: { turbo_method: :delete }, style: 'color: white; display:block; width: 100%; margin: 0 20px;' %></div>
          <div id="modalDeleteArchive" class='main-chat__delete lh50' style="padding: 0; display:none;"><%= link_to 'Delete', destroy_archive_item_tasks_path, data: { turbo_method: :delete }, style: 'color: white; display:block; width: 100%; margin: 0 20px;' %></div>
          <div id="alertClose" class="main-chat__submit lh50">Cancel</div>
          <!-- /.main-chat__delete -->
        </div>
      </div>
    </div>
    <div id="easyModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 id="modal-title">Great job 🎉</h1>
          <span class="modalClose">×</span>
        </div>
        <div class="modal-body">
          <%= form_with class: 'modal-form', id: 'form-edit', method: :patch, local: true, scope: :task do |f| %>
            <div class="main-chat__input-area">
              <%= f.text_field :content, id: 'form-edit__input', class: 'main-chat__input' %>
            </div>
            <%= f.submit '変更', class: 'main-chat__submit'%>
          <% end %>
          <%= form_with class: 'moldal-form-delete', id: 'form-delete', method: :delete, local: true, scope: :task do |f| %>
            <%= f.submit '削除', class: 'main-chat__delete'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <!-- /.main-chat__middle -->
  <%= form_with model: @task, class: 'main-chat__bottom', id: 'form', local: true do |f| %>
    <div class="main-chat__input-area">
      <%= f.text_field :content, class: 'main-chat__input', placeholder: 'type a task', autofocus: true%>
    </div>
    <%= f.submit 'SEND', class: 'main-chat__submit'%>
  <% end %>
</div>
<!-- /.main-chat -->
