<div class="main-chat">
  <div class="main-chat__top">
    <div class="main-chat__name">
      
    </div><!-- /.main-chat__name -->
    <%= link_to 'ALL CLEAR', destroy_all_tasks_path, data: { turbo_method: :delete }, class: 'main-chat__btn' %>
  </div><!-- /.main-chat__top -->
  <div class="main-chat__middle">
    
    <ul id="main-chat__task" data-controller="sortable">
      <%= render partial: 'task', collection: @tasks %>
    </ul>
    <ul id="main-chat__archive" data-controller="sortable" style="display:none">
      <%= render partial: 'archive', collection: @archives %>
    </ul>

    <div id="easyModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h1 id="modal-title">Great job ðŸŽ‰</h1>
          <span class="modalClose">Ã—</span>
        </div>
        <div class="modal-body">
        <%# ç·¨é›†æ©Ÿèƒ½ã‚’è¿½åŠ ã—ãŸã„ %>
          <%= form_with model: @task, class: 'main-chat__bottom', id: 'form', local: true do |f| %>
            <div class="main-chat__input-area">
              <%= f.text_field :content, class: 'main-chat__input', placeholder: 'type a task' %>
            </div>
            <%= f.submit 'é€ä¿¡', class: 'main-chat__submit'%>
          <% end %>
          
        </div>
      </div>
    </div>
    
  </div><!-- /.main-chat__middle -->
  
    <%= form_with model: @task, class: 'main-chat__bottom', id: 'form', local: true do |f| %>
      <div class="main-chat__input-area">
        <%= f.text_field :content, class: 'main-chat__input', placeholder: 'type a task' %>
      </div>
      <%= f.submit 'é€ä¿¡', class: 'main-chat__submit'%>
    <% end %>
</div><!-- /.main-chat -->