<li data-sortable-id="<%= task.id %>">
<div class="main-chat__message">
  <div class="main-chat__task">
    <%# <input type="checkbox" id="01" name="checkbox"><label for="01" class="main-chat__check"></label> %>
    <%= form_with model: task, url: mark_as_done_task_path(task), method: :patch, local: true do |f| %>
      <%= f.submit 'DONE', class: 'main-chat__archive' %>
    <% end %>
    <span class="main-chat__task-content" data-task="<%= task.id %>"><%= task.content %></span><!-- /.main-chat__task-content -->
  </div><!-- /.main-chat__task -->
  <div class="main-chat__time">
    <%= l task.created_at %>
  </div><!-- /.main-chat__time -->
</div><!-- /.main-chat__message -->
</li>